
body{
    background: aliceblue;
}
h1{
    color: blue;
}
h2{
    color: deepskyblue;
}
li{
    color: crimson;
    font-size: 120%;
    font: courier;
}
table, td, th {
  border: 1px solid black;
  width: 600px;
  text-align: left;
  border-collapse: collapse;
  background-color: white;
}

