
body{
    background-image: url("istockphoto-1185240557-1024x1024.jpg");
}
h1{
    color: blue;
}
h2{
    color: deepskyblue;
}
li{
    color: crimson;
    font: courier;
}
table, td, th {
    border: 1px solid black;
    width: 600px;
    text-align: left;
    border-collapse: collapse;
    background-color: white;
}
a{
    font-size: 120%;
}
